header {
  height: 100vh;
  padding-top: 3rem;
  /* overflow: hidden; */
}

.header_cont {
  text-align: center;
  height: 100%;
  position: relative;
}
.pic {
  background: linear-gradient(var(--color-primary-variant), transparent);
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 2rem;
  overflow: hidden;
  padding: 1.5rem;
}

.personal{
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.pic img {
  height: 100%;
  border-radius: 2rem;
  left: calc(50% - 10rem);
}

.scroll_down {
  position: absolute;
  bottom: 5rem;
  right: -2.3rem;
  transform: rotate(90deg);
  font-size: 1rem;
  font-weight: 300;
}

.socials{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.socials::after{
  content: '';
  width: 1px;
  height: 2rem;    
  background: var(--color-primary);
}

@media screen and (max-width: 1024px) {
  .home {
    height: 68vh;
  }

  section {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .home {
    height: 100vh;
  }

  .socials,
  .scroll_down {
    display: none;
  }
}
