.home {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}
.pic {
  background: linear-gradient(var(--color-primary-variant), transparent);
  width: 24rem;
  height: 24rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 2rem;
  overflow: hidden;
  padding: 1.5rem;
}

.pic img {
  height: 100%;
  border-radius: 2rem;
  left: calc(50% - 10rem);
}

.scroll_down {
  position: absolute;
  /* bottom: 5rem; */
  right: -2.3rem;
  transform: rotate(90deg);
  font-size: 1rem;
  font-weight: 300;
}
